* {
  box-sizing: border-box;
} 

body {
  padding: 20px 40px;
  font-family: sans-serif;
  background: #ebebeb;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

form {
  padding: 2em;
  background: white;
  border-radius: 1rem;
}

input{
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
  
}

button {
  background: rgb(11, 91, 133);
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
}

label {
  display: block;
  margin-top: 1rem;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

.message {
  color: green;
}


/*index.html*/

.result-container{
  max-width: 1100px;
  margin: 0 auto;
}

.results{
  display: flex;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  text-decoration: none;
  margin: 1rem;
  padding: 1rem;
  max-width: 200px;
  background: white;
  border: 1px solid grey;
  border-radius: 1rem;

}


a:hover {
  background-color: var(--grey);
  color: white;
}



.image {
  margin-bottom: 1em;
  height: 75vh;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

p {
  font-size: 0.9rem;
  margin: 0;
}

.content-container{
  display: grid;
}

h1{
  font-size: 2rem;
  color: black;
}

h2{
  font-size: 1.5rem;
  color: red;
}

footer{
  margin-top: 1em;
}

